version: '3.3'

services:
  educai:
    image: mongo:4.4.6
    container_name: educai
    ports:
      - "27017:27017"
    environment: 
      MONGO_INITDB_ROOT_USERNAME: educaiAdmin 
      MONGO_INITDB_ROOT_PASSWORD: i9lnkPC9U46sOg0
  
  backend:
    image: openjdk:17
    container_name: backend
    command: java -jar /home/java-app
    volumes:
      - ./java-app/target/educai-0.0.1-SNAPSHOT.jar:/home/java-app
    depends_on:
      - educai
    ports:
      - "8080:8080"

  frontend:
    image: nginx:latest
    container_name: frontend
    command: nginx -g 'daemon off;'
    volumes:
      - ./web-app/dist:/usr/share/nginx/html
    depends_on:
      - backend
      - ia-api
    ports:
      - "80:80"
  
  ia-api:
    image: node:18-alpine
    container_name: ia-api
    command: sh -c "apk add --no-cache chromium nss freetype harfbuzz ttf-freefont && npm install && node /home/dist/app.js"
    working_dir: /home
    volumes:
      - ./ia-api:/home
    ports:
      - "3000:3000"
